/*  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #2d283e;
}


/* Hero bg */
.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.05)), url('./assets/bg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}



@layer utilities {
    .booking-btn {
        @apply w-fit bg-accent hover:bg-[#8117be] font-medium text-xl py-3 px-8 rounded-full ease-in-out duration-100 text-white
    }
}

/* Contact Us page Map */
.responsive-map {
    overflow: hidden;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}

.responsive-map iframe {
    border: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}