/*  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background: #f9fafb;
}

::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 8px;
    transition: all 0.5s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
    border-radius: 8px;
}

/* Hero bg */
.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.05)), url('./assets/bg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

@layer utilities {
    .booking-btn {
        @apply w-fit bg-violet-700 hover:bg-violet-800 text-neutral-50 font-medium py-3 px-6 rounded-md ease-in-out duration-100
    }
}